/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1280px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {

    // @media (min-width: 320px){
    //     padding-right: 24px;
    //     padding-left:  24px;
    // } 
    // @media (min-width: 720px){
    //     padding-right: 32px;
    //     padding-left:  32px;
    // }
    // @media (min-width: 840px){
    //     padding-right: 40px;
    //     padding-left:  40px;
    // }
    // @media (min-width: 960px){
    //     padding-right: 48px;
    //     padding-left:  48px;
    // }
    // @media (min-width: 1024px){
    //     padding-right: 56px;
    //     padding-left:  56px;
    // }
    // @media (min-width: 1280px){
    //     padding-right: 64px;
    //     padding-left:  64px;
    // }
    
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;

    &.-form {
    max-width: 716px;
    padding: 64px;
    background-color: #F2F2F2;
    text-align: left;

    @media (max-width: 720px){
      padding: 32px;
    }
  }

    
}


.o-wrapper-accordion {
  @include inuit-clearfix();
  padding: 124px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 942px;
  background-color: $DarkGray;

    @media (min-width: 320px){
         padding: 24px;
    } 
    @media (min-width: 720px){
         padding: 32px;
    }
    @media (min-width: 840px){
        padding: 40px;
    }
    @media (min-width: 960px){
        padding: 48px;
    }
    @media (min-width: 1024px){
        padding: 56px;
    }
    @media (min-width: 1280px){
        padding: 64px;
    }
}



