
.c-about {
   
    position: relative;
    @include mg-btm();
    .o-wrapper {

      @media (max-width: 960px){
        padding-right: 0px;
        padding-left: 0px;
      }
      @media (min-width: 1024px){
        padding-right: 24px;
        padding-left: 24px;
      }

    }



    .c-about_content {
          @media (max-width: 960px){
            float: none;
          }
         @media (min-width: 320px){
          padding: 20px;
        }
         @media (min-width: 480px){
          padding: 30px;
        }
        @media (min-width: 600px){  
          padding: 45px;
        }
        @media (min-width: 720px){
          padding: 55px;
        }
        @media (min-width: 840px){
          padding: 65px;
           width: 100%;
        }
        @media (min-width: 960px){
          padding: 75px;
          width: 79%;

        }
        @media (min-width: 1024px){
          padding: 100px;
          width: 69%;
        }


        padding-bottom: 50px;
        position: relative;
        float: right;
        z-index: 10;
        background: $DarkGray;
        color: white;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1.14px;

      
        
        ::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100vh;
            background-color: $DarkGray;
            top: 0;
            left: 100%;
        }


    }

    .c-about_image {
        position: absolute;
        height: 640px;
        background-size: cover !important;
        bottom: -162px;

        img {
            width: 100%;
        }

      @media (max-width: 960px){
        display: none;
      }

    }


}


.c-btnPrimary {
  color: $White;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 17px;
  text-decoration: none;
  position: relative;
  background-color: $Blue !important;
  display: block;
  padding: 15px;
  border: none;
  overflow: hidden;

  margin-top: 40px;
}

.c-about_content_link_btn {
  text-decoration: none;
}