.c-career-bg {
    right: 0;
    //height: 946px;
    height: 846px;
    width: 40%;
    z-index: -9;
    position: absolute;
    background-size: cover !important;
    background-position: bottom !important;
    margin: -82px !important;

      @media (max-width: 960px){
        display: none;
      }
} 


.c-career {
    position: relative;

    @include padd-btm-w-title();
      @media (min-width: 960px){
        min-height: 846px;
            margin-top: 84px;
      }

}