/* -- 3rd Level Footer: Navigation menu for appointments and Copyright -- */  

.c-footer_links {
  background-color: $Black;
  white-space: inherit;
  padding: 15px;


  .o-wrapper {
    max-width: 1531px;
  }

  a,p {
    color: $LightGray;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
  }
  &.o-copyright {
    margin:0;
    padding: 0;
    text-align: right !important;
  }
  p {
    @media (min-width: 1280px){
      text-align: right;
    }
        //margin-bottom: 16px;
        display: inline;
      }
    // Hide nav menu at lowRes
    #footer_links-menu  {
     @media (max-width: 1280px) {
      display: none;
    }

    .o-latout {
      margin-left: -32px;
    }
    .o-layout__item {
      margin-left: 32px;

}

  }
  
 #footer_links-menu {
    a {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;

      /* Links underline animation on Hover: right to left */
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -6px;
        right: 0;
        background-color: $LightGray;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        visibility: visible; 
        width: 100%;

      }
  }
}


}

.c-foofer_links_ul {
  margin-bottom: 0;
  li {
    display: inline-block;
    margin-left: 32px;
    &:first-child {
      margin-left: 0;
      list-style-type: none;
    }
  }
}

@media (min-width: 1280px){

.o-copyright {
  text-align: right !important;
}
}