
/* -- Section form -- */
.c-section-s {
  text-align: center;

  &.-services {

    margin-top: 246px;
     @media (max-width: 960px){
        @include mg-btm-w-title();
      }

    // Intro Block text
    p {
    letter-spacing: 1.14px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    max-width: 528px;
    margin: 0 auto;


  }
    
  }


}

.c-services {

    .o-wrapper {
        max-width: 1442px !important;
        .c-services_navigation {
            margin: 0;
            border-radius: 15px;
            position: relative;
            align-items: left;
            width: auto;
            padding-top: 80px;
            //margin-left: -24px;
            text-align: center;


            .c-services_ul {
                justify-content: center;                        
                margin-bottom: 0;
                list-style-type: none;
                text-align: center;
                margin-left: 0;

               .c-services_li {
                    @media (max-width: 600px){
                       padding-left: 0;
                     }
                    position: relative;
                    padding-bottom: 24px;
                    // min-height: 720px;
                     max-width: 960px;
                    &:last-child {
                        margin-right: 0;
                    }


                      .c-card-content.-mobile {
                        display: none;
                        color: black;
                        height: auto;
                        bottom: auto;
                        transform: none;
                        position: relative;
                        padding-bottom: 1px;
                          background: rgba(0,72,181,1);
                         .c-card-title {
                            padding-top: 24px;
                            padding-bottom: 0;
                         }
                        .c-card-title, p, li {
                            transform: none;
                        }
                        @media (max-width: 600px){
                            display: block;
                        }

                        // &:before { 
                        //    background: rgba(0,72,181,1);
                        //     height: 50px;
                        //     -webkit-transform: skewY(-6deg);
                        //     -ms-transform: skewY(-6deg);
                        //     transform: skewY(-6deg);
                        //     content: "";
                        //     width: 100%;
                        //     position: absolute;
                        // }

                    
                      }

                    .c-card-content {

  
                        @media (max-width: 600px){
                            display: none;
                          }

                            position: absolute;
                            content: "";
                            background: rgba(0,72,181,0.9);
                            height: 160px;
                            width: 100%;
                            bottom: -50px;
                            left: 0;
                            -webkit-transform: skewY(-6deg);
                            -ms-transform: skewY(-6deg);
                            transform: skewY(-6deg);
                            transition: height 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
                            // Card title
                            .c-card-title {
                                letter-spacing: 1px;
                                text-align: center;
                                width: 100%;
                                transform: skewY(6deg);
                                left: 50%;
                                font-size: 20px;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                padding-top: 50px;
                                padding-bottom: 30px;   
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);        
                                ul {
                                    margin-left: 0;
                                    li {
                                       
                                    }
                                }
                            }
                            p {
                                width: 100%;
                                transform: skewY(6deg);
                                left: 50%;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                //padding-top: 25px;    
                                font-size: 16px;
                                letter-spacing: 0;
                                //line-height: 50px;
                                font-family: 'Helvetica' !important;
                                padding: 0 20px 0 25px;
                                text-align: left;
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
                                list-style-type: none;
                            }
                            li {
                                width: 100%;
                                transform: skewY(6deg);
                                left: 50%;
                                word-break: keep-all;
                                color: white;
                                z-index: 3;
                                bottom: 40px;      
                                //padding-top: 25px;    
                                font-size: 16px;
                                letter-spacing: 0;
                                //line-height: 50px;
                                font-family: 'Helvetica' !important;
                                padding: 0 20px 0 25px;
                                text-align: left;
                                transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
                                list-style-type: none;      
                                padding-right: 40px;
                         
                            }
                        }




                    .c-card {
                        background-size: cover;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        background-position: center;
                        

                        &:hover {

                            .c-card-content {
                                height: calc(100% + 105px;);
                               


                            }

                             .c-card-title {
                                padding-top: 80px;
                             }
                            .c-card-title {
                                
                            }
                            .c-card-hidden-content {
                                padding-top: 10px;
                            }

.image-gallery {
    position: absolute;
    width: 100%;
    bottom: 42px;
}

                        }

.image-gallery {
    position: absolute;
    width: 100%;
    bottom: -40px;
    transition: all 0.3s linear;
}

                    }
                }
            }
        }
    }
}


.hidden-slick {
    display: none;

}

.c-service_txt-hidden {
    visibility: hidden;
    p {
    width: 100%;
    -webkit-transform: skewY(6deg);

    -ms-transform: skewY(6deg);
    transform: skewY(6deg);
    left: 50%;
    word-break: keep-all;
    color: white;
    z-index: 3;
    bottom: 40px;
    font-size: 16px;
    letter-spacing: 0;
    font-family: 'Helvetica' !important;
    padding: 0 25px;
    text-align: left;
    -webkit-transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: padding-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    margin-bottom: 0;
    }
}




.paginator{

 @media (min-width: 1440px){
    position: absolute;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    top: 60%;
    bottom: 0;
    right: 10%;

  }


    ul{
        display: grid;
    }

    li{
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        float: left;
        width: 23px;
        height: 23px;


        &.prev{
          display: block;
          background: url('../images/arrow-left.svg') no-repeat;
          cursor: pointer;
       
         z-index: 99;
      }

      &.next{
          display: block;
          background: url('../images/arrow-right.svg') no-repeat;
          cursor: pointer;
         
          z-index: 99;
      }
  }
}

// Mobile arrows
.paginator{
    @media (max-width: 1440px){
        position: relative;

        ul{
            display: inline-block;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
        }

        li{
            margin-top: 20px;
            margin-right: 20px;
            position: relative;
            float: left;
            width: 23px;
            height: 23px;
            margin: 0 45px;

        &.prev{
              display: block;
              background: url('../images/fleche-gauche.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              
          }

          &.next{
              display: block;
              background: url('../images/fleche-droite.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              
          }
      }
    }
}
