
{# Create an entry query with the 'section' and 'limit' parameters #}
{% set aboutEntry = craft.entries()
    .section('about')
    .limit(10) %}

{# Fetch the entries #}
{% set entries = aboutEntry.all() %}

{# Display the entries #}
{% for entry in entries %}
   

<!-- Header title and background image -->
<section id="about" class="o-section c-about">
    <div class="o-wrapper">
        
            <div class="c-about_content">
                <h2 class="c-about_content_title">Notre histoire</h2>
                {{entry.aboutText}}
                <a class="btn btn-white btn-animation-1" href="#contact">Contactez-nous</a>
                
                
            </div>

        
    </div>
    <div class="c-about_image u-1/2" style="background: url('{{entry.aboutImage.one().url()}}')">
        
       
        
    </div>

</section>

{% endfor %}