    {# Entries #}
    {% set jobs = craft.entries.section('availableJobs').level(1).all() %}

    {# Accordion #} 
    <div class="o-wrapper-accordion">

        <h2 class="c-accordion_title">Offres d'emplois</h2>
         <hr>

        <ul class="c-accordion">
            {% for job in jobs %}
          
            <li>
                <div class="c-accordion_clickable"> 
                    <h3>{{job.title}}</h3>
                    <hr>
          
                 <div class="c-accordion_arrow"> <img src="assets/images/left-arrow.svg" alt="arrow"> </div>
                  
                </div>

                <div class="c-accordion_hide">

                    <div class="c-content">
                      {{job.jobDescription}}
                    </div>

                </div>

            </li>
            {% endfor %}
        </ul>

    </div>
