      {# Contact us section #} 
        <section class="c-section-contact -content -bio">
            <div class="o-wrapper">
                    
                <div class="o-layout o-layout--equal-height">
                    {# Google map with marker #} 

                    <div class="o-layout__item u-2/3@landscape-large-tablet">

                        <div>

                               <div id="google-map"></div>
                        </div>
                    </div>
                    {# Contact informations: adress, phone, fax, email, business hours #} 
                    <div class="c-contact o-layout__item u-1/3@landscape-large-tablet" id="desktop-contactInfo"> 

                            <ul class="c-contact-information o-list-bare">

                                <li class="c-contact-information_adress"> 
                                    
                                    <p>{{options.contactAdressRoad}}</p>
                                    <p>{{options.contactAdressCity}}</p> 
                                </li>
                                <li class="c-contact-information_phone"> 
                           
                                    <p>Téléphone :  {{options.contactPhone}}</p>
                                    <p>Télécopieur :  {{options.contactFax}}</p> 
                                </li>
                                <li class="c-contact-information_email"> 
                           
                                     <a href="mailto:{{options.contactEmail}}"> <p>{{options.contactEmail}}</p></a>
                                   
                                </li>

                            </ul>  

                    </div>
                </div>
            </div>


            <div class="o-wrapper -contactInfo"> 

                <ul class="c-contact-information o-list-bare o-layout " id="mobile-contactInfo"> 

                            <li class=" o-layout__item c-contact-information_adress u-1/1@landscape-large-tablet u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet"> 
                                
                                <p>{{options.contactAdressRoad}}</p>
                                <p>{{options.contactAdressCity}}</p> 
                            </li>
                            <li class=" o-layout__item c-contact-information_phone u-1/1@landscape-large-tablet u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet"> 
                       
                                <p>Téléphone :  {{options.contactPhone}}</p>
                                <p>Télécopieur :  {{options.contactFax}}</p> 
                            </li>
                             <li class=" o-layout__item c-contact-information_email u-1/1@landscape-large-tablet u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet"> 
                           
                                 <a href="mailto:{{options.contactEmail}}"> <p>{{options.contactEmail}}</p></a>
                             </li>

                </ul>  
    
            </div>

        </section>