  
{# ASIGNATION #}
{% set menu = craft.entries.section('menu').level(1).all() %}


{# Create an entry query with the 'section' and 'limit' parameters #}
{% set myEntryQuery = craft.entries()
    .section('banner')
    .limit(10) %}

{# Fetch the entries #}
{% set entries = myEntryQuery.all() %}

    {# 3rd Level Footer: Navigation menu for appointments and Copyright #}  
    <div class="c-footer_links">
        <div class='o-wrapper'>

            <div class='o-layout o-layout--left'>
             <div id="footer_links-menu" class="o-layout__item u-1/2@landscape-large-tablet">
               <ul class='c-foofer_links_ul'>

                {% for section in menu %}
                <li class="">   <a href="{{section.menuSection}}"> {{section.title}}</a> </li>
                {% endfor %}

            </ul> 
        </div>

          <div class="o-layout__item u-1/2@landscape-large-tablet o-copyright"> <p> Copyright {{now|date('Y')}} &#9400; {# Copyright symbol #} {{siteName}}. Tous droits réservés.</p> <a href="http://agencezel.com/" target="_blank">Signé Zel.</a>  </div>
        </div>
    </div>
</div>


