
{# ASIGNATION #}
{% set menu = craft.entries.section('menu').level(1).all() %}


{# Create an entry query with the 'section' and 'limit' parameters #}
{% set bannerEntry = craft.entries()
    .section('banner')
    .limit(10) %}

{# Fetch the entries #}
{% set entries = bannerEntry.all() %}

{# Display the entries #}
{% for entry in entries %}



<h1>Construction Camara</h1>



{# Main nav menu #}
<div class="c-main-menu">


    <!-- Mobile: Top Navigation Menu -->
  <nav class="c-second-menu">
    <div class='o-wrapper'>
      <div class="c-mobile-nav">

        <a href="{{siteUrl}}" class="active logo">Construction Camara</a>
        <a class='active phone'> <b>RBQ</b> {{options.contactRbq}}</a>
        <a class='active facebook' href="https://www.facebook.com/ConstructionCamara/" target="_blank"></a>

        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          {% for section in menu %}
          <a href="{{section.menuSection}}"> {{section.title}} </a>
          {% endfor %} 
        </div>
        <!-- Hamburger menu button to toggle the navigation links -->
        <button class="hamburger hamburger--minus icon" type="button" onclick="mobileNavMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
       </button>


      </div>
    </div>
  </nav>


  <div class='o-wrapper'>
      <div class="c-main-menu-wrap">
            <div class="c-header-logo"> <a href="{{siteUrl}}">{{entry.bannerTitleLogo}}</a></div>
          <nav class="c-main-menu_navigation">
              <ul class='o-list-bare c-main-menu_ul'>
                  {% for section in menu %}
                  <li> <a href="{{section.menuSection}}"> {{section.title}} </a></li>
                  {% endfor %}
              </ul>
          </nav>
      </div>
  </div>


</div>



<!-- Banner -->
<div class='c-banner'>

    <ul class="c-banner-images o-layout  o-layout--equal-height" > 
      {% set matrixBlocks = entry.bannerSlides.all() %}
        {% for block in matrixBlocks %}

            <li class="c-banner-images_item " style='background-image: url("{{ block.slideImage.first().url() }}");'>

        <div class='o-wrapper'>
            <div class='c-banner-title'> {{block.slideTitle}} </div>
            <div class='c-banner-subtitle'> {{block.slideSubtitle}} </div> 
        </div>

            </li>

        {% endfor %}
    </ul>

</div>



{% endfor %}



