
{# ASIGNATION #}

{# Create an entry query with the 'section'  #}
{% set entries = craft.entries().section('servicesBlock').all() %}
{# Display the entries #}
{% for entry in entries %}
{% set blockSubtitle = entry.servicesBlockSubtitle %}
{% set blockText = entry.servicesBlockText  %}




<section id="services" class="c-section-s -services">
    <div class="o-wrapper -sections">
        <h2>{{ blockSubtitle}}</h2>
        {{ blockText }}

    </div>
</section >

{% endfor %}


{# ASIGNATION #}
{% set services = craft.entries.section('services').level(1).all() %}


<div class='c-services'>
    <div class="o-wrapper">
        <nav class="c-services_navigation">    
            <ul class='c-services_ul'>
                {% for service in services %}

                <li class='o-layout__item c-services_li'>

                   <div class="c-card o-ratio o-ratio--960:720" onclick="" style='background-image: url("{{ service.serviceImage.one().url() }}");'>
                  {#  o-ratio--165:464  #}

                    <div class="c-card-content" >
                        <h3 class="c-card-title" >{{ service.title }}</h3>
                        {{service.serviceBody}} 


                        <div class="image-gallery" >
                                <a href="{{ service.serviceImage.one().url() }}" >
                                    <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="transform: skewY(6deg);">
                                        <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
                                        <title>add-circular-outlined-button copy 2</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="ACCUEIL" transform="translate(-1211.000000, -2252.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                <g id="add-circular-outlined-button-copy-2" transform="translate(1211.000000, 2252.000000)">
                                                    <g id="add-circular-outlined-button-copy">
                                                        <path d="M24,0 C10.7444706,0 0,10.7444706 0,24 C0,37.2555294 10.7444706,48 24,48 C37.2555294,48 48,37.2539608 48,24 C48,10.7460392 37.2555294,0 24,0 Z M24,45 C12.4019608,45 3,35.5980392 3,24 C3,12.4019608 12.4019608,3 24,3 C35.5980392,3 45,12.4019608 45,24 C45,35.5980392 35.5980392,45 24,45 Z M33,22.5 L25.5,22.5 L25.5,15 C25.5,14.172 24.828,13.5 24,13.5 C23.172,13.5 22.5,14.172 22.5,15 L22.5,22.5 L15,22.5 C14.172,22.5 13.5,23.172 13.5,24 C13.5,24.828 14.172,25.5 15,25.5 L22.5,25.5 L22.5,33 C22.5,33.828 23.172,34.5 24,34.5 C24.828,34.5 25.5,33.828 25.5,33 L25.5,25.5 L33,25.5 C33.828,25.5 34.5,24.828 34.5,24 C34.5,23.172 33.828,22.5 33,22.5 Z" id="Shape"></path>
                                                    </g>
                                                </g>
                                            </g>                                        
                                        </g>
                                    </svg>
                                </a>
                            {% for image in service.serviceImage.offset(1).all() %}
                            <div class="col-xs-4 hidden-slick"><a href="{{image.url()}}" target="_blank" class="thumbnail"><img src="{{image.url()}}" alt=""></a></div>
                           

                        </div>



                    </div> 
                    {% endfor %}

              </div>



                </li> 

                {% endfor %}
            </ul>
    </nav>
</div>
</div>







