
{# ASIGNATION #}

{# Create an entry query with the 'section'  #}
{% set entries = craft.entries().section('servicesBlock').all() %}
{# Display the entries #}
{% for entry in entries %}
{% set blockSubtitle = entry.servicesBlockSubtitle %}
{% set blockText = entry.servicesBlockText  %}




<section id="services" class="c-section-s -services">
    <div class="o-wrapper -sections">
        <h2>{{ blockSubtitle}}</h2>
        {{ blockText }}

    </div>
</section >

{% endfor %}


{# ASIGNATION #}
{% set services = craft.entries.section('services').level(1).all() %}


<div class='c-services'>
    <div class="o-wrapper">
        <nav class="c-services_navigation">    

           <div class="paginator">
                <ul>
                    <li class="prev"></li>
                    <li class="next"></li>
                </ul>
            </div>
            
            <ul class='c-services_ul'>
                {% for service in services %}

                <li class='o-layout__item c-services_li'>

                   <div class="c-card o-ratio o-ratio--960:720" onclick="" style='background-image: url("{{ service.serviceImage.one().url() }}");'>


                    <div class="c-card-content" >
                        <h3 class="c-card-title" >{{ service.title }}</h3>
                        {{service.serviceBody}} 
                    </div> 
                   

                    </div>

                    <div class="c-card-content -mobile" >
                        <h3 class="c-card-title" >{{ service.title }}</h3>
                        {{service.serviceBody}} 
                    </div>



                </li> 

                {% endfor %}
            </ul>
    </nav>
</div>
</div>







